.Polaris-PageActions{
    padding: 0 !important;
    border: none !important;
}

.block-dashboard{
    border: 1px solid #ccc;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 0 1em #ccc;
    flex: 0 0 49%;
}

.block-dashboard-main{
    flex: 1;
    display: flex;
    align-items: center;
}

.block-dashboard-footer{
    border-top: 1px solid #ccc;
    width: 100%;
    display: flex;
    justify-content: center;
    padding:10px;
    cursor: pointer;
}

.block-dashboard-footer .block-dashboard__action{
    color: #084e8a;
    font-weight:600;
}

.block-dashboard-footer .block-dashboard__action:hover{
    text-decoration: underline;
}

.block-dashboard__title{
    font-size: 15px;
    font-weight: 600;
    margin-top: 10px;
}

.block-dashboard__number{
    font-size: 15px;
    font-weight: 600;
}

.Intergrate-action button{
    min-width: 90px;
    margin-left: 20px;
}

.Polaris-Frame__Content{
    background: #ccc;
    background-size: cover;
}

.Settings{
    width: 100%;
    border: 1px solid #ccc;
    display: flex;
}

.Settings .Settings__main{
    flex: 0 0 30%;
    height: 100%;
}

.Settings .Settings__preview{
    flex: 1;
}

.Settings__main-header,
.Settings__preview-header{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ccc;
    
    
}

.Settings__main-header > span,
.Settings__preview-header > span{
   height:40px;
   display: flex;
    align-items: center;
}

.Settings__preview-icon{
    display: flex;
    align-items: center;
}

.Settings__preview-icon ul{
    display: flex;
    align-items: center;
    height:100%;
    padding:0;
}

.Settings__preview-icon ul li{
    list-style: none;
    height:100%;
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.Settings__preview-icon ul li.active{
    border-bottom: 3px solid red;
}


.Settings__preview-icon span.Polaris-Icon{
    height:auto !important;   
    cursor: pointer; 
}

.Settings__main{
    border-right: 1px solid #ccc;
}

.Settings__main-content{
    height:100%;
    display: flex;
}

.Settings__preview-content .Settings__preview-col-5{
    width: 50%;
}

.Settings__preview-content .Settings__preview-col-5 .Polaris-SkeletonThumbnail.Polaris-SkeletonThumbnail--sizeLarge{
    width: 100%;
    height: 250px;
}

.Settings__preview-content .Settings__preview-col-5:nth-child(2){
    margin-left: 10px;
}

.Settings__preview-content .Settings__preview-col-5 .Polaris-SkeletonDisplayText__DisplayText.Polaris-SkeletonDisplayText--sizeMedium{
    margin-bottom: 15px;
}

.Settings__preview-content .Settings__preview-col-5 .Polaris-SkeletonBodyText__SkeletonBodyTextContainer{
    margin-bottom: 15px;
}

.Settings__preview-content .Settings__preview-col-5 button{
    margin-bottom: 15px;
    cursor: pointer;
    background-color: #fff;
    color: #000;
    border: 1px solid #ccc;
}

.Settings__preview-content.mobile .Settings__preview-col-5 {
   width: 100%;
   margin-bottom: 20px; 
}

.Settings__preview-content.mobile .Settings__preview-col-5:nth-child(2){
  margin-left: 0 !important;
}

